/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
dist
.eslintcache
# Editor directories and files
.idea

# Package Manager
node_modules
.temp
.cache

pnpm-debug.log*
# Bundle
play
coverage
# local env files
*.local
